{% extends 'layout.html' %}

{% block content %}
  <div class="container">
    <div class="row">
      {% for tweet in twitterFeed %}
        {# https://dev.twitter.com/web/embedded-tweets/parameters #}
        <blockquote class="twitter-tweet" data-link-color="#55acee" lang="en">
          <p lang="en">{{ tweet.text }}</p>
          - {{ tweet.user.name }} ({{ tweet.user.screen_name }})
          <a href="https://twitter.com/{{ tweet.user.screen_name }}/status/{{ tweet.id_str }}">
            {{ tweet.created_at }}
          </a>
        </blockquote>
      {% endfor %}
    </div>
  </div>
{% endblock %}
